/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;700&display=swap');

/* VARIABLES */
:root {
    --background-primary: hsl(0, 0%, 1%);
    --link-color: #fff;
    --font-family: 'Poppins', sans-serif;
}

/* RESETS */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* SIDEBAR */
body {
    display: grid;
    font-family: var(--font-family);
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar nav'
        'sidebar main';
}

.sidebar {
    display: grid;
    background-color: var(--background-primary);
    color: var(--link-color);
    height: 100vh;
}

.sidebar__logo {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    align-self: start;
}

.sidebar__logo i {
    font-size: 3rem;
    cursor: pointer;
}

.sidebar__logo h1 {
    font-size: 2rem;
}

.shortcuts__menu,
.settings__menu {
    display: grid;
    grid-template-columns: 200px;
    grid-auto-rows: 4rem;
    row-gap: 1rem;
    justify-content: center;
}

.shortcuts__link,
.settings__link {
    display: flex;
    gap: 0.8rem;
    font-size: 1.4rem;
    padding: 0 1rem;
    font-weight: bold;
    transition: color 0.4s ease-in;
}

.shortcuts__link:hover,
.settings__link:hover {
    color: #6aa1d2;
}

.shortcuts__link i,
.settings__link i {
    font-size: 1.7rem;
}
